<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.runtoinfo.personal_center">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 录音的权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 过滤不支持相机的设备 -->
    <uses-feature android:name="android.hardware.Camera" />

    <application
        android:allowBackup="false"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:allowBackup">
        <activity android:name=".activities.PersonalMainActivity" />
        <activity android:name=".activities.CameraActivity" />
        <activity android:name=".activities.PersonalSettings" />
        <activity android:name=".activities.PersonalAboutUs" />
        <activity android:name=".activities.PersonalFeedBack" />
        <activity
            android:name=".activities.MySomeRecord"
            android:label="@string/title_activity_my_some_record"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.GeoAreaActivity"></activity>
    </application>

</manifest>